@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 790px;
    background: #000;
}

.wrap {
    width: 1150px;
    margin: auto;
}

.navbar {
    width: 1140px;
    height: 100px;
    color: #fff;
    margin: auto;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;

}

.menu {
    width: 540px;
    justify-content: space-between;
    display: flex;
}

.menu_item {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: left;
}

.active_menu_item::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fcac45;
    margin: auto;
    margin-top: 20px;
}

.menu_item:hover::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fcac45;
    margin: auto;
    margin-top: 20px;
}

.header_title {
    color: #999999;
    font-size: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.545;
    text-align: center;
    margin-top: 202px;
}

.header_title_spirit {
    color: #fcac45;
    font-weight: 700;
}

.header_subtitle {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.749);
    line-height: 1.2;
    text-align: center;
    margin-top: 26px;
}

.header_subtitle_weight {
    font-weight: 600;
}

.circle-header {
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: auto;
    margin-top: 285px;
    line-height: 50px;
}

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us_block {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.about-us_item_img {
    width: 708px;
    height: 504px;

}


.mini-title_about {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(99, 99, 99);
    text-transform: uppercase;
    line-height: 1.865;
    text-align: left;
    font-weight: 400;
    margin: 0;

}

.title_about {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.097;
    text-align: left;
    font-weight: 400;
    margin-top: 20px;


}

.title_about::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #fcac45;
    margin-top: 22px;
    margin-bottom: 30px;

}

.title_about_weight {
    font-weight: 600;
}

.about-us_list {
    list-style-type: none;
    padding: 0;
}

.about_content_text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(108, 108, 108);
    line-height: 1.389;
    text-align: left;
    font-weight: 400;
    margin-bottom: 50px;
}

.list_alt {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(90, 90, 90);
    line-height: 1.389;
    text-align: left;
    display: flex;
}

.list-style_marker {
    padding-top: 3px;
    border: 2px solid #5a5a5a;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #5a5a5a;
    margin-top: 5px;
    margin-right: 10px;
}

.list-style_marker_item {
    border-radius: 100%;
    width: 6px;
    height: 6px;
    margin: auto;
    background-color: #5a5a5a;
    color: #5a5a5a;
}

.about-us_btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    width: 196px;
    height: 49px;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    color: rgb(97, 97, 97);
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
    margin-top: 55px;
    font-weight: 600;
    display: block;
    text-decoration: none;

}

.about-us_btn i {
    margin-right: 10px;
}

.team {
    padding: 100px 0 160px;
    background-color: black;
    color: #eeeeee;
}

.team-title {
    color: rgb(255, 255, 255);
}

.title_item {
    font-size: 44px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    line-height: 0.545;
    font-weight: 300;
    text-align: center;
}

.title_weight {
    font-weight: 600;
}

.title_item::after {
    content: "";
    display: block;
    width: 99px;
    height: 5px;
    background: #fcac45;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.title::after {
    content: "";
    display: block;
    width: 67px;
    height: 5px;
    background: #fcac45;
    margin: auto;
}

.team_blocks {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team_blocks_item {
    width: 246px;
}

.team_peoples_photo {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 128px;
    height: 127px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 90px;

}

.peoples_title {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.people_subtitle {
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-top: 12px;
}

.people_text {
    color: rgb(255, 255, 255);
}

.text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.714;
    font-weight: 300;
}

.people_photo_one {
    background: url(../img/jeson_statham.jpg) no-repeat;
    background-size: cover;
}

.people_photo_two {
    background: url(../img/van_dam.jpg) no-repeat;
    background-size: cover;
}

.people_photo_three {
    background: url(../img/Sylvester-Stallone.jpg) no-repeat;
    background-size: cover;
}

.people_photo_four {
    background: url(../img/JetLi.jpg) no-repeat;
    background-size: cover;
}

.services {
    padding: 100px 0;
}

.services-title {
    color: rgb(34, 34, 34);

}

.or_subtitle {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: rgb(108, 108, 108);
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    margin-top: 45px;

}

.services_blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}

.services_icon {
    border: 4px solid rgb(252, 172, 69);
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 125px;


}

.services-icon_title {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 0.96;
    margin-bottom: 25px;
}

.services-icon_text {
    width: 244px;
}

.some {
    padding: 100px 0;
    background-color: black;
}

.some-title {
    color: #fff;
}

.some-indecators {
    display: flex;
    justify-content: space-between;
    width: 55px;
    margin: auto;
    margin-top: 100px;
}

.some-indecators div {
    width: 10px;
    height: 10px;

}

.some_in_active {
    background-color: #fcac45;
}

.some_in_hower {
    margin-left: 12px;
    background-color: #fff;
}

.some_in_hower:hover {
    background-color: #fcac45;
}

.our-work {
    padding: 100px 0;
}

.our-work_blocks {
    margin-top: 110px;
}

.our-work_mintitles {
    display: flex;
    justify-content: space-between;
    width: 1144px;

}

.name_blocks {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.name_blocks_item {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(34, 34, 34);
    line-height: 1.333;
    text-align: center;
    font-weight: 300;
}

.name_blocks_all {
    font-weight: 500;
}

.minititles_logo {
    font-size: 18px;
    font-family: "Open Sans". sans-serif;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;

}

.our-work_blok {
    width: 263px;
    height: 237px;
}

.our-work_blocks_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    width: 1144px;
    height: 774px;

}

.our-work_block_bac-one {
    background: url(../img/Layer%2083.png) no-repeat;
    background-size: cover;
}

.our-work_block_bac-two {
    background: url(../img/Layer%2077.png) no-repeat;
    background-size: cover;
}

.our-work_block_bac-three {
    background: url(../img/Layer%2082.png) no-repeat;
    background-size: cover;
}

.our-work_blok_active {
    width: 263px;
    height: 237px;
    color: #cccccc;
    background-color: #222222;
    margin: auto;
    text-align: center;
    padding-top: 65px;
    visibility: hidden;
}

.our-work_blok:hover .our-work_blok_active {
    visibility: visible;
}

.our-work_blok_active_border {
    border: 1px solid rgb(252, 172, 69);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(252, 172, 69);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
}

.our-work_blok_active_title {
    font-size: 20px;
    font-family: "Open Sans". sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

.our {
    padding: 100px 0;
    background-color: black;
}

.our-subtitle {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(231, 231, 231);
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    color: aliceblue;
    margin-top: 100px;

}

.contact-us {
    padding: 100px 0;
}

.cont_forms_item_block {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(99, 99, 99);
    line-height: 1.714;
    text-align: left;
}

.znak {
    color: #db0000;
}

.contact-us_forms {
    width: 752px;
    margin: auto;
    margin-top: 100px;
}

.cont_forms_item {
    display: flex;
    justify-content: space-between;
}

.cont_forms_item_block input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    width: 364px;
    height: 44px;
    display: block;
}

.contact-us_text {
    width: 752px;
    margin: auto;
    margin-top: 46px;
}

.cont_forms_message_box {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(99, 99, 99);
    line-height: 1.714;
    text-align: left;
    margin-top: 30px;
}

.cont-message {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    width: 755px;
    height: 167px;
    border-radius: 2px;
}

button {
    background-color: rgb(252, 172, 69);
    width: 165px;
    height: 40px;
    margin-left: 590px;
    margin-top: 30px;
    border: 1px solid rgb(252, 172, 69);
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

footer {
    padding-top: 30px;
    background-color: #222222;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.footer_text {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb(178, 178, 178);

}

.footer_icon {

    color: rgb(178, 178, 178);
    font-size: 20px;

}

.footer_icon i {
    cursor: pointer;
}
